version: '3'

services:
  rails:
    build: .
    container_name: sales_rails
    tty: true
    stdin_open: true
    ports:
      - 3000:3000
    volumes:
      - .:/app:cached
      - /app/.git
      - /app/node_modules
      - /app/log
      - /app/tmp
    command: /bin/sh -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
